<mat-card class="has-watched-container">
    <mat-card-header>
        <mat-card-title>
            <h1 class="has-watched-title">Have Watched</h1>
        </mat-card-title>
        <mat-card-subtitle *ngIf="!mappedMovies && mappedMovies.length < 0">
            <p class="watchlist-subtitle">Your Watched list is empty</p>
        </mat-card-subtitle>
    </mat-card-header>
    <div class="mappedMovies" *ngIf="mappedMovies">
        <mat-card class="movie" id="{{movie.id}}" *ngFor="let movie of mappedMovies">
            <a class="removeLink" (click)="removeMovie(movie.id)">
                <mat-icon class="removeIcon">cancel</mat-icon>
            </a>
            <a class="movieLink" href="movie/{{movie.id}}">

                <img mat-card-image class="movie-poster" src="https://image.tmdb.org/t/p/original{{ movie.poster_path }}" alt="{{ movie.title }} poster">
                <div class="movieDetails">
                <span>{{movie.title}}</span>
                <span style="color:gray" >{{movie.release_date | date: 'MMMM d, y'}}</span>
                
            </div>
            </a>
        </mat-card>
    </div>
</mat-card> 