<div class="register-container">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Register</mat-card-title>
            <mat-card-subtitle>Enter your registration details</mat-card-subtitle>
        </mat-card-header>
        <form #registerForm="ngForm">
          <mat-form-field>
            <mat-label>Username</mat-label>
            <input matInput
              name="username"
              #username="ngModel"
              placeholder="Enter your username"
              [(ngModel)]="userRegister.username"
              required
            >
            <mat-error *ngIf="username.invalid && (username.dirty || username.touched)">
              <mat-icon matPrefix>error</mat-icon>
              Username is required
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput
              name="password"
              #password="ngModel"
              placeholder="Enter your password"
              [(ngModel)]="userRegister.password"
              minlength="6"
              required
              type="password"
            >
            <mat-error *ngIf="password.errors?.['minlength']">
              <mat-icon matPrefix>error</mat-icon>
              Password must be at least 6 characters long
            </mat-error>
            <mat-error *ngIf="password.invalid && (password.dirty || password.touched)">
              <mat-icon matPrefix>error</mat-icon>
              Password is required
            </mat-error>
          </mat-form-field>
          <!-- <mat-form-field>
            <mat-label>Confirm Password</mat-label>
            <input matInput>

          </mat-form-field> -->
          <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput
              name="email"
              #email="ngModel"
              placeholder="Enter your email"
              [(ngModel)]="userRegister.email"
              required
              email
            >
            <mat-error *ngIf="email.errors?.['email'] && (email.dirty || email.touched)">
              <mat-icon matPrefix>error</mat-icon>
              Please enter a valid email address
            </mat-error>
            <mat-error *ngIf="email.invalid && (email.dirty || email.touched)">
              <mat-icon matPrefix>error</mat-icon>
              Email is required
            </mat-error>
          </mat-form-field>
        </form>
        <button mat-raised-button (click)="onSubmit()">Register</button>
        <button mat-button (click)="goToLogin()">Already have an Account? Login</button>
    </mat-card>
</div>