.card-list {
    margin: 0 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

mat-card {
    width: 15rem;
    border-radius: 10px;
    background-color: #f0f0f0;
    box-shadow: 0 4px 8px #00000033;
    transition: all 0.3s ease-in-out;

    &:hover {
        cursor: pointer;
        transform: scale(1.02);
    }
}

mat-card-content {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

img {
    border-radius: 10px;
}